body {
  margin: 0;
  padding: 0;
}

.principale {
  /* height: 86vh; */
  position: absolute;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 12px;
  width: 100vw;
  margin: 0;
}

.logo {
  margin: auto;
}

.logo>img {
  width: 100%;
}

.button {
  width: 25%;
}

.cities {
  height: 80vh;
  overflow-y: scroll;
}

.single {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 10px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing,
.cities {
  text-align: center;
  padding: 0;
  margin: 0;
}

.landing {
  height: 93vh;
}

.logo {
  width: 90%;
}

.padding17 {
  padding: 0 17px;
  text-align: left;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 5rem;
}

.LogAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexNavbar {
  display: flex;
  height: 7vh;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.colorPrimary {
  color: black;
}

#carousel-example-generic {
  height: auto;
  width: 100vw;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  padding: 4px;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  height: 60px;
  width: 270px;
  padding: 0;
  margin: 0;
}

.carousel-indicators li {
  position: relative;
  width: 60px;
  height: 100%;
  border-radius: 100%;
  background-color: grey;
  margin: 0 15px;
  padding: 0;
}

.carousel-indicators li.secondary-color.active {
  background-color: black;
}

.controls-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controls {
  font-size: 111px !important;
}

.controls:hover,
.carousel-indicators:hover {
  cursor: pointer;
}

svg {
  color: black;
}

.home {
  text-align: center;
  font-size: 100px;
  line-height: 0;
  height: 6vh;
}

.nomeCitta {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: white;
  letter-spacing: .1em;
  text-shadow:
    1px -1px 0 black,
    -1px -1px 0 black,
    2px 1px 0 black,
    -2px 1px 0 black,
    0 0 20px black,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.linkNoDecoration {
  color: black;
  cursor: pointer;
  text-decoration: none !important;
}

.img-fluid {
  object-fit: cover !important;
  height: 300px !important;
  padding: 0 !important;
}

.loading {
  width: 70%;
  height: 80vh;
  margin: auto;
}

.loading>img {
  width: 100%;
}

.searchCity {
  width: 80%;
  margin: 10px auto;
  height: 5vh;
  align-self: flex-start;
}

#standard-search-label,
#standard-search {
  font-size: 2.5rem !important;
  margin: 5px !important;
  line-height: 1rem !important;
}

.PrivateNotchedOutline-root-70 {
  border-width: 2px !important;
}

.itinerary {
  height: 86vh;
  overflow: scroll;
}

.row {
  margin: 20px !important;
}

.MuiAvatar-circle {
  width: 7vh !important;
  height: 7vh !important;
  font-size: 4.5vh !important;
  border: 1px solid black;
  margin: 0 auto;
}

.avatar {
  text-align: center;
  font-size: 2rem;
  box-shadow: 7px 9px 26px 3px rgba(0, 0, 0, 0.75);
  padding: 10px !important;
  margin-bottom: 10px;
}
.accountAvatar {
  text-align: center;
  font-size: 2rem;
  padding: 10px !important;
  margin-bottom: 10px;
}

.openingButton,
.closingButton {
  text-align: center;
  width: 100%;
  font-size: 2rem !important;
  text-transform: capitalize !important;
}

.closingButton.MuiButton-containedSizeLarge {
  margin-top: 20px !important;
}

.innerSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nomeActivity {
  overflow: hidden;
  border: 5px white solid;
  height: 200px !important;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  text-transform: capitalize !important;
  color: white;
  letter-spacing: .1.5em;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
}

* {
  min-height: 0;
  min-width: 0;
}

.itineraryContainer {
  border-bottom: 1px black solid;
}

.account {
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.accountForm {
  background-color: rgb(212, 206, 206);
  margin: 30px 50px;
  padding: 30px;
}

input, label {
  width: 820px;
  margin-top: 10px;
}

.MuiButtonBase-root {
  font-size: 4rem !important;
}

.logItems {
  font-size: 5.5rem !important;
  padding: 0 10px;
}

.accountForm,
.loginForm {
  box-shadow: 7px 9px 26px 3px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}