body {
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  padding: 10px;
  width: 100vw;
}

.logo {
  width: 90%;
  margin: auto;
}
.logo>img {
  width: 100%;
}

.button {
  width: 25%;
}

.landing {
   text-align: center;
   padding: 0 40px;
   margin: 20px 0;
}

.landing h2 {
  font-size: 2.5rem;
}
.landing h1 {
  font-size: 5rem;
}

.LogAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexNavbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.colorPrimary {
  color: black;
}

#carousel-example-generic {
	height: auto;
	width: 100vw;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  padding: 4px;
}

p {
  color: red;
  font-size: 50px;
}

.carousel-indicators li {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  bottom: -100px;
  background-color: grey;
  margin: 0 15px;
}

.carousel-indicators li.secondary-color.active {
  background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 90px;
  height: 90px;
}

a.carousel-control-prev,
a.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next{
    align-items: flex-end; /* Aligns it at the bottom */
}